.movieContainer{
  height: 350px;
  width: 250px;
  border: 4px solid rgb(210, 211, 216);
  margin:1% ;
  border-radius: 2%;
  
}

.moviePoster{
  height: 200px;
  width: 250px;
  border-radius: 2%;
}
*{
  padding: 0;
  margin: 0;
}

.movieSummary{
  overflow: hidden;
  height: 75px;
}

.movieSpecs{
  display: flex;
  justify-content: space-between;
  padding: 2px 5px;
}

.counterContainer{
  display: flex;
  gap: 2%;
}

.App{
  display: flex;
  /* gap: 20px; */
  flex-wrap: wrap;
}